<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carmemorize.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.carmemorize.app.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.carmemorize.app.activity.ListCar" />
        <activity android:name="com.carmemorize.app.activity.History" />
        <activity android:name="com.carmemorize.app.activity.Summary" />
        <activity android:name="com.carmemorize.app.activity.AddCar" />
        <activity android:name="com.carmemorize.app.activity.AddEnergy" />
        <activity android:name="com.carmemorize.app.activity.TaxShow" />
        <activity android:name="com.carmemorize.app.activity.Service" />
        <activity android:name="com.carmemorize.app.activity.CarShow" />
        <activity android:name="com.carmemorize.app.activity.ListEnergy"></activity>
    </application>

</manifest>